<!DOCTYPE html>
<html>
    <head>
        <title>STATS-Profit</title>
        <link rel="stylesheet" href="../forms.css">
        <link rel="stylesheet" href="../table.css">
        <link rel="stylesheet" href="../navig.css">
        <style>
        body{   background-color: rgb(253, 255, 148)      }
    </style>
    </head>
    <body>
            <ul> 
              <li style="float:right; " onclick="window.location.href='/homepg'"><a style="color:red">home</a></li>              
              <li style="float:right" onclick="window.location.href='/sales'"><a >Sales</a></li>
                <li style="float:right" onclick="window.location.href='/customer'"><a >Customer</a></li>
                <li style="float:right" onclick="window.location.href='/suppliers'"><a >Suppliers</a></li>
                <li style="float:right" onclick="window.location.href='/rouEmployees'"><a >Employees</a></li>
                <li style="float:left"><b>Income</b></li>
            </ul>
            
            <br><hr><br>
        <h4>Profit  on( date )</h4>
        <form action="/sendDate" method="POST"><input type="date" value="2019-10-30" name="pdate"><input type="submit"> </form>
           
          <h4>Profit:</h4> <%= profit %><br>
         <form action="/rouBet" method="POST">

          <input type="date"  value="2019-10-30"  name="fdate"   >
          <input   type="date"   value="2019-10-30" name="ldate"   >
          <input type="submit">
         </form>
         <h3><%= profit2 %></h3>
            <div><table>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </table>
          </div>          
</body>
</html>