table { width: 1000px;}
    th, td {
    padding: 7px 10px 10px 10px;}
    th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 75%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
    font-weight: bolder;
    }
    tr.even {
    background-color: #efefef;}
    tr:hover {
    background-color: #c3e6e5;}
    div ,table{
        float: center;
    }
    